section#main_container {
    width: 900px;
    background: #f9f9f9;
    margin: 0 auto;
}table {
    width: 100%;
    background: #ececec;
}thead {
    background: #d0d0d0;
    text-align: center;
    color: #717171;
}tbody {
    color: #848484;
    text-align: center;
}
.form.container {
    padding: 10px;
}
